.clockClass{
	display:inline-block;
	height: 100px;
	width: 200px;
}

.clockClass h1{
	font-size: 78px;
	color: grey;
}

p.btn-group {
	margin-top: 10px; 
}

p.btn-group .btn {
	min-width: 100px;
}

.thumbnail {
	border: none;
}